* {
  margin: 0;
  padding: 0;
}
body #wrapper {
  background-color: #89ffb0;
  color: #123456;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
}
body #wrapper > header {
  padding-top: 25px;
  padding-left: 25px;
  background: #0e720e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #0e720e 0%, #89ffb0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e720e), color-stop(100%, #89ffb0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #0e720e 0%, #89ffb0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #0e720e 0%, #89ffb0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #0e720e 0%, #89ffb0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #0e720e 0%, #89ffb0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0);
  /* IE6-9 */

  margin-bottom: 50px;
}
body #wrapper > header h1 {
  color: #cbefdb;
  font-size: 2.4em;
}
body #wrapper > header nav {
  font-family: 'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}
body #wrapper > header nav ul {
  padding-left: 9px;
  list-style: none;
  zoom: 1;
}
body #wrapper > header nav ul:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
body #wrapper > header nav ul li {
  padding-left: 11px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  float: left;
  border-right: 1px solid black;
  height: 29px;
}
body #wrapper > header nav ul li:last-of-type {
  border-right: none;
}
body #wrapper > header nav ul li a {
  color: #123456;
  font-size: 1.7em;
  text-decoration: none;
}
body #wrapper aside {
  padding: 5px;
  text-align: center;
  height: 165px;
  width: 150px;
  border-radius: 15px;
  border: 1px solid black;
  background: #89ffb0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #89ffb0 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89ffb0), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #89ffb0 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #89ffb0 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #89ffb0 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #89ffb0 0%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0);
  /* IE6-9 */

}
body #wrapper aside h2 {
  font-size: 1.55em;
}
body #wrapper aside ul {
  padding: 10px;
  padding-left: 15px;
}
body #wrapper aside ul li {
  margin-bottom: 5px;
  font-size: 0.9em;
  text-align: left;
  color: #123456;
}
body #wrapper aside ul li a {
  color: #123456;
  text-decoration: none;
}
body #wrapper aside.right {
  margin-left: 35px;
  float: right;
  margin-right: 35px;
  padding-bottom: 0px;
  height: 159px;
}
body #wrapper aside.right ul {
  margin-left: 18px;
}
body #wrapper aside.left {
  float: left;
  margin-left: 35px;
  margin-right: 35px;
}
body #wrapper section {
  font-size: 0.9em;
  margin: 35px;
}
body #wrapper section article header h1 {
  font-size: 1.7em;
}
body #wrapper section article div p {
  text-indent: 1.95em;
}
body #wrapper section article div p strong {
  color: #1b4d80;
}
body #wrapper section article div p em {
  color: #1f5a95;
}
body #wrapper section article div ul {
  list-style-type: none;
}
body #wrapper section article div ul li {
  padding-left: 5px;
  margin-top: 10px;
}
body #wrapper section article div ul li:nth-child(3) {
  margin-top: 9px;
}
body #wrapper section article div ul li h2 {
  margin-left: 20px;
  font-size: 1.25em;
}
body #wrapper section article div ul li p a {
  text-decoration: none;
  color: #2467aa;
}
body #wrapper footer {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 17px;
}
body #wrapper footer h2 {
  font-size: 1.25em;
}
